<div id="active-list-container">
    <div id="active-list-heading">
      <h1>Active Games</h1>
  
      <input type="checkbox" id="list-filter-all" checked />
      <label for="list-filter-all">All</label>
  
      <input type="checkbox" id="list-filter-hide-full" />
      <label for="list-filter-hide-full">Hide Full</label>
  
      <input type="checkbox" id="list-filter-public" checked />
      <label for="list-filter-public">Public</label>
  
      <input type="checkbox" id="list-filter-private" checked />
      <label for="list-filter-private">Private</label>
  
      <button id="list-refresh-button">Refresh</button>
    </div>
  
    <div id="active-game-list"></div>
  </div>