<input type="hidden" name="room-id" id="room-id" value="<%= roomId %>" />

<div id="chat-container">
  <div id="chat-messages">
    <% (chatMessages?.length > 0) ? chatMessages.forEach(message => { %>
    <p class="chat-message">
      <%= message %>
    </p>
    <% }) : null %>
  </div>
  <input
      type="text"
      id="message"
      name="message"
      placeholder="Type a message..."
      autocomplete="false"
      required
    />
    <button type="button" onclick="sendMessage()">Send</button>
</div>

<script>
//POST message to chat route
  function sendMessage() {
    const roomId = document.querySelector("#room-id").value;
    console.log(roomId);
    let message = document.querySelector("#message").value;
    console.log(document.location.pathname);

    if(document.location.pathname == '/'){
        fetch(`/chat/${roomId}`, {
          method: "post",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ message }),
      });
    }
    else{
        fetch(`${document.location.pathname}/chat/`, {
          method: "post",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ message }),
      });
    }

    document.querySelector("#message").value = "";
  }
</script>