<html>
<head>
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to the Homepage</h1>
    
    <div>
        <a href="/home"><button>Homepage</button></a>
        <a href="/game"><button>Game Page</button></a>
        <a href="/signin"><button>Sign In</button></a>
        <a href="/signup"><button>Sign Up</button></a>
    </div>
</body>
</html>
