<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lobby</title>
    <link rel="stylesheet" type="text/css" href="/styles/home.css" />
    <script src="/scripts/chat.js" defer></script>
  </head>
  <body>

    <h1>Welcome to the Lobby</h1>

    <div>
      <a href="/home"><button>Homepage</button></a>
      <a href="/lobby"><button>Lobby</button></a>
      <a href="/waitingroom"><button>Waiting Room</button></a>
      <a href="/game"><button>Game Page</button></a>
      <% if (!loggedIn) { %>
      <a href="/signin"><button>Sign In</button></a>
      <a href="/signup"><button>Sign Up</button></a>
      <% } else { %>
      <a href="/logout"><button>Logout</button></a>
      <% } %>
    </div>

    <div id="player-container">
      <% players.forEach(player => { %>
      <p class="player-name"><%= player.name %></p>
      <img class="player-card" src="" alt="<%= player.name %>" />
      <% }); %>
    </div>

    <%- include('partials/chat', { chatMessages: messages, roomId: gameId } ) %>
    <button id="start-button">Start Game</button>
    <script src="/scripts/lobby.js"></script>
  </body>
</html>
