<!doctype html>
<html>
  <head>
    <title>Joining Lobby</title>
  </head>
  <body>
    <script>
      (async () => {
        try {
          const res = await fetch(`/game/<%= id %>/join`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ password: "" }),
          });

          if (res.status != 200) return (window.location.href = "/");

          if (res.redirected) return (window.location.href = res.url);
        } catch (error) {
          return (window.location.href = "/");
        }
      })();
    </script>
  </body>
</html>